<nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <span class="navbar-brand nav-link active mb-0 h1 ml-3" style="cursor:pointer;" [routerLink]="['Ld/home']">Learning and Development</span>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <!-- <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="Ld/dashboard">Home</a>
      </li> -->
    </ul>
    <button type="button" class="btn btn-danger mr-3" (click)="logOut()">Logout</button>
  </div>
</nav>