<section class="login_page">
    <div class="container">
        <div class="user signupBx">
            <div class="formBx">
                <form action="" onsubmit="return false;">
                    <h2>Forgot Password</h2>
                    <div>
                        <label>Email address<span class="text-danger">*</span></label>
                        <input type="email" class="input" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div>
                        <label>Password<span class="text-danger">*</span></label>
                        <input type="password" name="" placeholder="" class="input" />
                    </div>
                    <div>
                        <label>Confirm Password<span class="text-danger">*</span></label>
                        <input type="password" name="" placeholder="" class="input" />
                    </div>
                    <input type="submit" name="" value="Submit" class="input" />
                    <p class="signup">
                        Remember an account ?
                        <a href="/auth" onclick="toggleForm();">Sign in.</a>
                    </p>
                </form>
            </div>
            <div class="imgBx">
                <div class="login_logo">
                    <img src="assets/images/logo-white.png" alt="" class="img-fluid">
                </div>
                <div class="center-image">
                    <img src="assets/images/forgot-password.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>