<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <div id="sidebar-menu">
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" key="t-apps">Main Menu</li>
        <li >
          <a style="text-decoration: none;" routerLink="buffer-details"><span class="glyphicon glyphicon-list-alt"></span><span class="nav-label">Buffer Details</span></a>
          <a style="text-decoration: none;" href="#"><span class="glyphicon glyphicon-envelope"></span><span class="nav-label">Weekly Report</span></a>
          <a style="text-decoration: none;" href="#"><span class="glyphicon glyphicon-cog"></span><span class="nav-label">Summarized Report</span></a>
          <a style="text-decoration: none;" href="#"><span class="glyphicon glyphicon-film"></span><span class="nav-label">Idle Resources</span></a>
          <a style="text-decoration: none;" href="#"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Partial billing</span></a>
          <a style="text-decoration: none;" routerLink="shadow-details"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Shadow Resources</span></a>
          <a style="text-decoration: none;" href="#"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Individual Skillset</span></a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
